*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: orangered;
}
.container{
    padding-bottom: 40px;
}
#form{
    width: 500px;
    margin:20vh auto 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}
#heading{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    text-align: center;

}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input{
    border:2px solid #f0f0f0;
    border-radius: 4px;
    margin:10px;
    display: block;
    font-size: 14px;
    padding:10px;
    width:100% ;
}
#form #btn{
    padding: 10px;
    margin-top: 10px;
    background-color: orange;
    border:none;
    width:100%;
    border-radius: 4px;
    color: #f0f0f0;

}
.form-control .error{
    color:#ff3860;
    font-size: 10px;
    height:10px;
    margin:10px;
}
.form-control .success input{
    border-color:green ;
}
.form-control .error input{
    border-color: red;
}